@import 'partials/_reset';
@import 'partials/_colors';
@import 'partials/effects';
@import 'partials/_layout';
@import 'partials/_typography';
@import 'partials/main';
@import 'partials/intro';
@import 'partials/sidebar';
@import 'partials/dragon';



* {
    box-sizing: border-box;
}

//test
html, body {
    width: 100%;
    margin: 0;
}
body{
    background: linear-gradient(
        rgba($color-2, 0.75), 
        rgba($color-2, 0.75)
      ),
    url(assets/pipes.png);
    background-repeat: repeat;
    a {
        text-decoration: none;
        color: $color-3;
    }
}




