/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cinzel|Hammersmith+One|Poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------------------------------
-
-   LAYOUT
-
- ----------------------------------------*/
body {
  height: 100%;
  margin: 0;
  background-color: #da0012; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (min-width: 65em) {
    .page-wrapper {
      flex-flow: row wrap; } }
  .page-wrapper .intro {
    order: 1;
    width: 90%; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .page-wrapper .intro {
        width: 95%; } }
    @media only screen and (min-width: 65em) {
      .page-wrapper .intro {
        width: 65%; } }
  .page-wrapper .main {
    order: 3;
    width: 95%; }
    @media only screen and (min-width: 65em) {
      .page-wrapper .main {
        order: 2; } }
  .page-wrapper .sidebar {
    order: 2; }
    @media only screen and (min-width: 65em) {
      .page-wrapper .sidebar {
        order: 4;
        width: 25%;
        height: 100%; } }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2, h3 {
  font-family: "Cinzel", serif;
  color: #260003; }

h1 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: 2em; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em; }

section > h2::before {
  /* number before each section title */
  color: #968591; }

p {
  font-size: 1em;
  line-height: 1.4;
  color: #260003; }
  p a {
    color: #260003;
    text-decoration: underline; }

.main {
  background-color: #BE7633;
  margin: 0 auto;
  border: 15px solid white;
  border-image-source: url(assets/mandarinZenGarden.png);
  border-image-repeat: round;
  border-image-slice: 30; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .main {
      border: 20px solid white;
      border-image-source: url(assets/mandarinZenGarden.png);
      border-image-repeat: round;
      border-image-slice: 30; } }
  @media only screen and (min-width: 65em) {
    .main {
      border: 30px solid white;
      border-image-source: url(assets/mandarinZenGarden.png);
      border-image-repeat: round;
      border-image-slice: 30; } }
  .main .explanation, .main .benefits {
    border: 15px solid white;
    border-image-source: url(assets/mandarinZenGarden.png);
    border-image-repeat: round;
    border-image-slice: 30;
    width: 100%; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .main .explanation, .main .benefits {
        border: 20px solid white;
        border-image-source: url(assets/mandarinZenGarden.png);
        border-image-repeat: round;
        border-image-slice: 30; } }
    @media only screen and (min-width: 65em) {
      .main .explanation, .main .benefits {
        border: 30px solid white;
        border-image-source: url(assets/mandarinZenGarden.png);
        border-image-repeat: round;
        border-image-slice: 30; } }
  .main .participation, .main .requirements {
    border: 15px solid white;
    border-image-source: url(assets/mandarinZenGardenVertical.png);
    border-image-repeat: repeat;
    border-image-slice: 130; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .main .participation, .main .requirements {
        border: 20px solid white;
        border-image-source: url(assets/mandarinZenGardenVertical.png);
        border-image-repeat: repeat;
        border-image-slice: 130; } }
    @media only screen and (min-width: 65em) {
      .main .participation, .main .requirements {
        border: 30px solid white;
        border-image-source: url(assets/mandarinZenGardenVertical.png);
        border-image-repeat: repeat;
        border-image-slice: 130; } }
  .main > *:not(:last-child) {
    margin: 2em auto;
    padding: 0.5em 1em;
    background: #FeF;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .main > *:not(:last-child) {
        padding: 1.5em; } }
    @media only screen and (min-width: 65em) {
      .main > *:not(:last-child) {
        padding: 2em; } }
  .main footer {
    margin-bottom: 2em;
    font-size: 1.5em; }
  @media only screen and (min-width: 65em) {
    .main {
      margin-top: 25em;
      width: 90%; } }

.intro {
  padding: 0.5em 1em;
  margin: 150vw auto 0 auto;
  border-radius: 5px;
  background-color: #fef;
  width: 90%; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .intro {
      margin: 100vw auto 0; } }
  @media only screen and (min-width: 65em) {
    .intro {
      margin: 30vw 0 0; } }
  .intro > * {
    padding: 4em; }
  .intro header {
    padding: 0.5em 1em;
    position: absolute;
    top: 1em;
    left: 1em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background: #004933;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    -moz-filter: drop-shadow(0 0 10px #260003);
    -webkit-filter: drop-shadow(0 0 10px #260003);
    filter: drop-shadow(0 0 10px #260003); }
    .intro header h1, .intro header h2 {
      font-weight: bolder;
      color: #fef;
      -webkit-filter: drop-shadow(0 0 10px #260003);
      filter: drop-shadow(0 0 10px #260003); }
    .intro header h1 {
      font-size: 4em; }
    .intro header h1::before {
      position: absolute;
      content: "";
      -webkit-filter: drop-shadow(0 0 10px #260003);
      filter: drop-shadow(0 0 10px #260003);
      background-repeat: no-repeat;
      top: 0.5em;
      right: 15em;
      width: 100px;
      height: 123px;
      background-image: url("assets/zenMandarin.png"); }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .intro header {
        width: 95%; } }
    @media only screen and (min-width: 65em) {
      .intro header {
        left: 32vw;
        width: 75%; } }
  .intro .summary {
    padding: 0.5em 1em;
    margin: 2em;
    border-radius: 5px;
    background: #FeF;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }
    .intro .summary p {
      color: #BE7633;
      margin-bottom: 1em; }
  .intro .preamble {
    padding: 0.5em 1em;
    margin: 0;
    border-radius: 5px;
    width: 100%; }
    @media only screen and (min-width: 65em) {
      .intro .preamble {
        margin: 1em;
        margin-right: 4em; } }

.sidebar {
  margin-right: 0;
  background: #004933;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  background: #004933;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-filter: drop-shadow(0 0 10px #260003);
  -moz-filter: drop-shadow(0 0 10px #260003);
  -webkit-filter: drop-shadow(0 0 10px #260003);
  filter: drop-shadow(0 0 10px #260003); }
  @media only screen and (min-width: 65em) {
    .sidebar {
      position: absolute;
      top: 20em;
      right: 0;
      height: 100%; } }
  .sidebar .select, .sidebar .archives, .sidebar .resources {
    background-color: #260003;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 10px 20%;
    color: #BE7633; }
  .sidebar .design-selection > *, .sidebar .design-archives > *, .sidebar .zen-resources > * {
    color: #BE7633;
    padding: 0.5em 1em; }
    .sidebar .design-selection > * a, .sidebar .design-archives > * a, .sidebar .zen-resources > * a {
      line-height: 2em;
      color: #99000C;
      display: inline-block;
      position: relative;
      -webkit-transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1);
      -ms-transition: all 0.5s ease-in-out;
      -ms-transform: scale(1);
      -moz-transition: all 0.5s ease-in-out;
      -moz-transform: scale(1);
      transition: all 0.5s ease-in-out;
      transform: scale(1); }
      .sidebar .design-selection > * a:hover, .sidebar .design-archives > * a:hover, .sidebar .zen-resources > * a:hover {
        color: #BE7633;
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-transform: scale(1.5);
        -ms-transition: all 0.5s ease-in-out;
        -ms-transform: scale(1.5);
        -moz-transition: all 0.5s ease-in-out;
        -moz-transform: scale(1.5);
        transition: all 0.5s ease-in-out;
        transform: scale(1.5);
        z-index: 10; }

* a {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transition: all 0.5s ease-in-out;
  -ms-transform: scale(1);
  -moz-transition: all 0.5s ease-in-out;
  -moz-transform: scale(1);
  transition: all 0.5s ease-in-out;
  transform: scale(1); }
  * a:hover {
    color: #BE7633;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1.5);
    -ms-transition: all 0.5s ease-in-out;
    -ms-transform: scale(1.5);
    -moz-transition: all 0.5s ease-in-out;
    -moz-transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    transform: scale(1.5);
    background: #260003;
    padding: 0.2em 0.5em;
    border-radius: 10px 20%;
    z-index: 10; }
  * a:visited {
    color: #260003; }

.extra1 {
  border: none;
  background-image: url(assets/dragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 36vw;
  height: 50vw;
  position: absolute;
  top: 90vw;
  left: 30%;
  opacity: 1;
  border-radius: 0 0 25px 25px;
  -webkit-filter: drop-shadow(0 0 10px #260003);
  filter: drop-shadow(0 0 10px #260003); }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .extra1 {
      top: 40vw; } }
  @media only screen and (min-width: 65em) {
    .extra1 {
      top: 2em;
      left: 9vw;
      width: 15vw;
      height: 21vw;
      border-radius: 0 0 50px 50px; } }

.extra2,
.extra3,
.extra4,
.extra5 {
  position: absolute;
  display: hidden;
  top: 120vw;
  left: 45%;
  z-index: 0;
  border: none !important;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px); }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .extra2,
    .extra3,
    .extra4,
    .extra5 {
      top: 70vw;
      left: 45%; } }
  @media only screen and (min-width: 65em) {
    .extra2,
    .extra3,
    .extra4,
    .extra5 {
      top: 13em;
      left: 15vw; } }

.extra2::before, .extra2::after,
.extra3::before, .extra3::after,
.extra4::before, .extra4::after,
.extra5::before, .extra5::after {
  content: '';
  border: none !important;
  display: inline-block;
  position: absolute;
  opacity: 2;
  width: 20px;
  height: 20px;
  background: #474747;
  border-radius: 50%; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .extra2::before, .extra2::after,
    .extra3::before, .extra3::after,
    .extra4::before, .extra4::after,
    .extra5::before, .extra5::after {
      width: 50px;
      height: 50px; } }
  @media only screen and (min-width: 65em) {
    .extra2::before, .extra2::after,
    .extra3::before, .extra3::after,
    .extra4::before, .extra4::after,
    .extra5::before, .extra5::after {
      width: 60px;
      height: 60px; } }

.extra2::before, .extra3::before, .extra4::before, .extra5::before {
  -webkit-animation: animateBefores 2.8s linear 2.5s infinite;
  animation: animateBefores 2.8s linear 2.5s infinite; }

.extra2::after, .extra3::after, .extra4::after, .extra5::after {
  -webkit-animation: animateBefores 2.8s linear 2.5s infinite;
  animation: animateAfters 2.8s linear 3s infinite; }

.extra2 {
  -webkit-animation: none;
  animation: none;
  -webkit-filter: blur(15px);
  filter: blur(15px); }

@keyframes animateBefores {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    opacity: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px); }
  20% {
    -webkit-transform: translate(20px, 50px);
    -ms-transform: translate(20px, 50px);
    transform: translate(20px, 50px); }
  40% {
    -webkit-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px); }
  60% {
    -webkit-transform: translate(-40px, 120px);
    -ms-transform: translate(-40px, 120px);
    transform: translate(-40px, 120px); }
  80% {
    -webkit-transform: translate(-180px, 130px);
    -ms-transform: translate(-180px, 130px);
    transform: translate(-180px, 130px); }
  100% {
    -webkit-transform: translate(-300px, 120px) scale(2.5, 1.9);
    -ms-transform: translate(-300px, 120px) scale(2.5, 1.9);
    transform: translate(-300px, 120px) scale(2.5, 1.9);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px); } }
@keyframes animateAfters {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
    opacity: 1;
    -webkit-filter: blur(5px);
    filter: blur(5px); }
  20% {
    -webkit-transform: translate(-20px, 55px);
    -ms-transform: translate(-20px, 55px);
    transform: translate(-20px, 55px); }
  40% {
    -webkit-transform: translate(-40px, 105px);
    -ms-transform: translate(-40px, 105px);
    transform: translate(-40px, 105px); }
  60% {
    -webkit-transform: translate(-80px, 140px);
    -ms-transform: translate(-80px, 140px);
    transform: translate(-80px, 140px); }
  80% {
    -webkit-transform: translate(-200px, 130px);
    -ms-transform: translate(-200px, 130px);
    transform: translate(-200px, 130px); }
  100% {
    -webkit-transform: translate(-300px, 120px) scale(2.5, 1.9);
    -ms-transform: translate(-300px, 120px) scale(2.5, 1.9);
    transform: translate(-300px, 120px) scale(2.5, 1.9);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px); } }
.extra2::before {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.extra2::after {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.extra3::before {
  -webkit-animation-delay: .5s;
  animation-delay: .5s; }

.extra3::after {
  -webkit-animation-delay: .4s;
  animation-delay: .4s; }

.extra4::before {
  -webkit-animation-delay: .9s;
  animation-delay: .9s; }

.extra4::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.extra5::before {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s; }

.extra5::after {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  margin: 0; }

body {
  background: linear-gradient(rgba(153, 0, 12, 0.75), rgba(153, 0, 12, 0.75)), url(assets/pipes.png);
  background-repeat: repeat; }
  body a {
    text-decoration: none;
    color: #004933; }

/*# sourceMappingURL=style.css.map */
