/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cinzel|Hammersmith+One|Poppins");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------------------------------
-
-   LAYOUT
-
- ----------------------------------------*/
body {
  height: 100%;
  margin: 0;
  background-color: #99000C; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (min-width: 65em) {
    .page-wrapper {
      flex-flow: row wrap; } }
  .page-wrapper .intro {
    order: 1;
    width: 90%; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .page-wrapper .intro {
        width: 95%; } }
    @media only screen and (min-width: 65em) {
      .page-wrapper .intro {
        width: 65%; } }
  .page-wrapper .main {
    order: 3;
    flex-grow: 0; }
    @media only screen and (min-width: 65em) {
      .page-wrapper .main {
        order: 2;
        width: 65%; } }
  .page-wrapper .sidebar {
    order: 2; }
    @media only screen and (min-width: 65em) {
      .page-wrapper .sidebar {
        order: 4;
        width: 25%;
        height: 100%; } }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2, h3 {
  font-family: "Cinzel", serif;
  color: #260003; }

h1 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
  font-size: 2em; }

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em; }

section > h2::before {
  /* number before each section title */
  color: #968591; }

p {
  font-size: 1em;
  line-height: 1.4;
  color: #260003; }
  p a {
    color: #260003;
    text-decoration: underline; }

.main {
  border-radius: 5px;
  background-color: #BE7633; }
  .main > * {
    padding: 4em;
    background-color: #BE7633; }
  .main .explanation {
    padding: 0.5em 1em;
    border-radius: 5px;
    background: #FeF; }

.intro {
  padding: 0.5em 1em;
  margin: 150vw auto 0 auto;
  border-radius: 5px;
  background-color: #fef;
  width: 90%; }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .intro {
      margin-top: 100vw; } }
  @media only screen and (min-width: 65em) {
    .intro {
      margin-top: 25vw; } }
  .intro > * {
    padding: 4em; }
  .intro header {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    background: #004933;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    -moz-filter: drop-shadow(0 0 10px #260003);
    -webkit-filter: drop-shadow(0 0 10px #260003);
    filter: drop-shadow(0 0 10px #260003);
    padding: 0.5em 1em; }
    .intro header h1, .intro header h2 {
      font-weight: bolder;
      color: #BE7633; }
    .intro header h1 {
      font-size: 4em; }
    @media only screen and (min-width: 47.9em) and (max-width: 65em) {
      .intro header {
        width: 95%; } }
    @media only screen and (min-width: 65em) {
      .intro header {
        left: 32vw; } }
  .intro .summary {
    padding: 0.5em 1em;
    margin: 2em;
    border-radius: 5px;
    background: #FeF;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000; }
    .intro .summary p {
      color: #BE7633;
      margin-bottom: 1em; }
  .intro .preamble {
    padding: 0.5em 1em;
    margin: 2em;
    border-radius: 5px;
    width: 100%; }

.sidebar {
  margin-right: 0;
  background: #004933;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  background: #004933;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -moz-filter: drop-shadow(0 0 10px #260003);
  -moz-filter: drop-shadow(0 0 10px #260003);
  -webkit-filter: drop-shadow(0 0 10px #260003);
  filter: drop-shadow(0 0 10px #260003); }
  @media only screen and (min-width: 65em) {
    .sidebar {
      margin-top: -35em; } }
  .sidebar .select, .sidebar .archives, .sidebar .resources {
    background-color: #260003;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 10px 20%;
    color: #BE7633; }
  .sidebar .design-selection > *, .sidebar .design-archives > *, .sidebar .zen-resources > * {
    color: #BE7633;
    padding: 0.5em 1em; }
    .sidebar .design-selection > * a, .sidebar .design-archives > * a, .sidebar .zen-resources > * a {
      line-height: 2em;
      color: #99000C; }

.extra1 {
  border: none;
  background-image: url(assets/dragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 36vw;
  height: 50vw;
  position: absolute;
  top: 90vw;
  left: 30%;
  opacity: 1;
  border-radius: 0 0 25px 25px;
  -webkit-filter: drop-shadow(0 0 10px #260003);
  filter: drop-shadow(0 0 10px #260003); }
  @media only screen and (min-width: 47.9em) and (max-width: 65em) {
    .extra1 {
      top: 40vw; } }
  @media only screen and (min-width: 65em) {
    .extra1 {
      top: 2em;
      left: 9vw;
      width: 15vw;
      height: 21vw;
      border-radius: 0 0 50px 50px; } }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  margin: 0; }

body {
  background: linear-gradient(rgba(102, 0, 8, 0.75), rgba(102, 0, 8, 0.75)), url(assets/pipes.png);
  background-repeat: repeat; }
  body a {
    text-decoration: none;
    color: #004933; }

/*# sourceMappingURL=style.css.map */
