//xColors


$color-2: rgb(218, 0, 18); //red
$color-1: #260003; // Dark Red
$color-3: #004933; // Green
$color-5: #BE7633; // Gold
$color-4: #B9AEB6; // Grey
$success: #6fce72; // light green











