.extra1 {
    border: none;
    background-image: url(assets/dragon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 36vw;
    height: 50vw;
    position: absolute;
    top: 90vw;
    left: 30%;
    opacity: 1;
    border-radius: 0 0 25px 25px;
    -webkit-filter: $myShadow;
    filter: $myShadow; 

    @include MQ(M) {
        top: 40vw;
    }

    @include MQ(L) {
        top: 2em;
        left: 9vw;
        width: 15vw;
        height: 21vw;
        border-radius: 0 0 50px 50px;
    }
}