.intro{
    padding: $myPadding;
    margin-top: 150vw;
    border-radius: 5px;
    background-color: #fef;

    @include MQ(L){
        margin-top: 25vw;
    }

    > * {
        padding: 4em;
        
    }

    header {
        
        position: absolute;
        top: 1em;
        text-align: center;
        border-radius: 5px;
        background: $color-3; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ -moz-filter:    $myShadow;
        -webkit-filter: $myShadow;
        filter:         $myShadow; 

        h1,h2 {
            font-weight: bolder;
            color: $color-5;
        }
        h1 {
            font-size: 4em;
        }
        padding: $myPadding;
        
        @include MQ(L) {
            margin: 2em;
            left: 32vw;
        }
    }

    .summary {
        padding: $myPadding;
        margin: 2em;
        border-radius: 5px; 
        background: #FeF;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    
        p {
            color: $color-5;
            margin-bottom: 1em;
        }

        @include MQ(L) {
            
        }
    }

    .preamble {
        padding: $myPadding;
        margin: 2em;
        border-radius: 5px;
        width: 100%;
        }

    @include MQ(L) {
            
    }
}