.intro{
    padding: $myPadding;
    margin: 150vw auto 0 auto;
    border-radius: 5px;
    background-color: #fef;
    width: 90%;

    @include MQ(M) {
        margin: 100vw auto 0;
    }
    @include MQ(L){
        margin: 30vw 0 0;
    }

    > * {
        padding: 4em;   
    }

    header {
        padding: $myPadding;
        position: absolute;
        top: 1em;
        left: 1em;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        background: $color-3; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ -moz-filter:    $myShadow;
        -webkit-filter: $myShadow;
        filter:         $myShadow; 

        h1,h2 {
            font-weight: bolder;
            color: #fef;
            -webkit-filter: $myShadow;
        filter:         $myShadow; 
        }
        h1 {
            font-size: 4em;
        }

        h1::before{
        position: absolute;
        content: "";
        -webkit-filter: $myShadow;
        filter:         $myShadow; 
        background-repeat: no-repeat;
        top: 0.5em;
        right: 15em;
            width: 100px;
            height: 123px;
            background-image: url("assets/zenMandarin.png");
        }

        @include MQ(M) {
            width: 95%;
        }

        @include MQ(L) {
            left: 32vw;
            width: 75%;
            
        }
    }

    .summary {
        padding: $myPadding;
        margin: 2em;
        border-radius: 5px; 
        background: #FeF;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
    
        p {
            color: $color-5;
            margin-bottom: 1em;
        }

        @include MQ(L) {
            
        }
    }

    .preamble {
        padding: $myPadding;
        margin: 0;
        border-radius: 5px;
        width: 100%;
        @include MQ(L) {
            margin: 1em;
            margin-right: 4em;
    }
        }

    
}