/* ---------------------------------------
-
-   LAYOUT
-
- ----------------------------------------*/


// Breakpoint Variables
$L: 65em;

// Media Query 2 sizes
@mixin MQ($screen) {
    @if $screen == L {
        @media only screen and (min-width: $L) { @content; }
    }
}


// main layout
body {
    height: 100%;
    margin: 0;
    background-color: $color-2;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    

    @include MQ(L) {
        flex-flow: row wrap;
    }

    .intro {
        order: 1;
        // added backround color to style and position easier
        //background: red;
        flex-grow: 0;

        @include MQ(L) {
            width: 70%;
            flex-grow: 0;
        }
    }
    
    .main {
        // added backround color to style and position easier
        //background: green;
        order: 3;
        flex-grow: 0;

        @include MQ(L) {
            order: 2;
            width: 75%;
            flex-grow: 0;
        }
    }
    
    .sidebar {
        // added backround color to style and position easier
      //  background: blue;
        order: 2;
        flex-grow: 0;
    
        @include MQ(L) {
            order: 4;
            width: 20%;
            flex-grow: 1;
            height: 100%;   
        }
    }

}