.main{
    border-radius: 5px;
    background-color: $color-5;

    > * {
        padding: 4em;
        background-color: $color-5;
    }

    .explanation {
        padding: $myPadding;
        border-radius: 5px;
        background: #FeF;
         }
}