.main{
    
    background-color: $color-5;
    margin: 0 auto;
    border-radius: 5px;

    @include MQ(L){
        margin-top: 25em;
        width: 90%;
    }

    > * {
        padding: 4em;
        background-color: $color-5;
    }


} 