.sidebar {
    margin-right: 0;
    background: $color-3;
    border-radius: 5px;
    padding: $myPadding;
    margin: $myMargin;
    background: $color-3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #007f5f 0%, #007f5f 18%, #007f5f 59%, #004933 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #007f5f 0%,#007f5f 18%,#007f5f 59%,#004933 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f5f', endColorstr='#004933',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ -moz-filter:    $myShadow;
    
    -moz-filter:    $myShadow;
    -webkit-filter: $myShadow;
    filter:         $myShadow; 


    @include MQ(L) {
        position: absolute;
        top: 20em;
        right: 0;
        height: 100%;
    }

    .select, .archives, .resources {
        background-color: $color-1;
        padding: $myPadding;
        text-align: center;
        border-radius: $myBorder-radius;
        color: $color-5;
    }


    .design-selection > *, .design-archives > *, .zen-resources > * {
        color: $color-5;
        padding: $myPadding;

        a {
            line-height: 2em;
            color: $color-2;
        }
    }
}