
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/typography';
@import 'partials/html_elements';
@import 'partials/colors';

// color palette - these colors will be the color swatches of the Colors section

$color-2: #99000C; // Red
$color-1: #260003; // Dark Red use for text
$color-3: #004933; // ?
$color-5: #BE7633; // Gold
$color-4: #B9AEB6; // Grey

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red



/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}


/* -------------------------------- 

xNavigation 

-------------------------------- */
// dragon body if bright red
// possibly try a larger lighter font 
// links dark black dark maroon red maybe
// link main sections 24px medium font

header {
	background-color: $color-2;
}

.cd-logo {
	/* logo box style */
	background-color: $color-1;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-2;

	li a {
		color: $color-5;
		border-color: lighten($color-2, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($color-2, 40%);

			&.selected {
				color: $color-5;
				box-shadow: 0 2px 0 $color-1;
			}

			.no-touch &:hover {
				color: $color-5;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-5;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-5;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-5, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-5, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		/* tooltip */
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}


/* -------------------------------- 

xIcons 

-------------------------------- */
// add maybe logos of dragons or something to that effect

.cd-icons li {
	/* icons size */
	width: 32px;
	height: 32px;
}


@import 'partials/basic-style';
