
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import 'partials/typography';
@import 'partials/html_elements';
@import 'partials/colors';
@import 'partials/navigation';
@import 'partials/icons';

// color palette - these colors will be the color swatches of the Colors section

$color-2: #99000C; // Red
$color-1: #260003; // Dark Red use for text
$color-3: #004933; // ?
$color-5: #BE7633; // Gold
$color-4: #B9AEB6; // Grey

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red



/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}



/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}



@import 'partials/basic-style';
